<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
     <script type="text/javascript">
        window.onload=function() {
        scrollTo(0,0);
        }
        </script>
        <meta name="viewport" content="width=320" />
     <meta name="apple-mobile-web-app-capable" content="yes" />
     <meta http-equiv="refresh" content="30">
  <meta name="description" content="Description Here" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Saaaunaa</title>
  <link type="text/css" rel="stylesheet" href="../css/main.css" />
  <link rel="icon" type="image/png" href="../images/favicon.ico" />
  <script type="text/javascript"></script>
 </head>
 <body>
     <iframe src="http://saunabot.play.futurice.com" width="320" height="480" frameBorder="0"</iframe>
</iframe>
 </body>
</html>